@{
    Layout = "Shared/_Layout";
}

<div class="col">
    <h1>@Localizer["Administration"]</h1>

    <div>
        <h4>@Localizer["Manage users and roles"]</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}