<div class="input-group-append">
    <div class="custom-file">
        <input type="file" class="custom-file-input" data-file-uploader-type="single" style="width: 70px" value="" />
        <label class="custom-file-label"></label>
    </div>
</div>