@page
@using EZms.UI.Areas.EZmsIdentity.Pages.Account.Manage
@model EZms.UI.Areas.EZmsIdentity.Pages.Account.Manage.DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}